<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriber List</title>
</head>
<body>
    <p>Welcome to our awesome site!</p>
    <p>Please subscribe to our list below:</p>

    <form action="#">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName"/>

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName"/>
        
        <label for="userName">User Name:</label>
        <input type="text" name="userName"/>
        
       <button type="submit">Submit Your Name</button>
    </form>
    
</body>
</html>